<nav class="navbar navbar-default kill-margin">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <%= image_tag('jiji.png') %>
      </a>
    </div>
    <div class="navbar-title">
      <h3>Stupid Coaching</h3>
    </div>
  </div>
</nav>
