<!DOCTYPE html>
<html>
  <head>
    <title>RailsStupidCoaching</title>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Just+Another+Hand|Roboto:300,400,700" rel="stylesheet">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container text-center">
      <h1>Stupid Coaching</h1>
      <%= yield %>
      <h3>A very simple footer</h3>
    </div>
  </body>
</html>
